# Optional / development dependencies.
# Runtime strictly requires only 'colorama'. The rest are optional for future features.
colorama
wcwidth
nltk
joblib
regex
mergedeep
watchdog
lunr
mkdocs
pyyaml-env-tag
argcomplete
userpath
livereload